.perspective {
    isolation: isolate;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .perspectiveBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(180deg, 10%, 90%);
  }
  
  .perspectiveForeground {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(195deg, 20%, 86%);
  }